<strong>Olá, {{deliveryman}}</strong><br/>

<p>Houve um cancelamento de encomenda, detalhes abaixo:</p>

<p>
  <strong>Entrega: </strong> #{{ delivery_id }}<br/>
  <strong>CEP:</strong> {{recipient_zip_code}} <br/>
  <strong>Detinatário:</strong> {{ recipient }} <br/>
  <strong>Produto:</strong> {{ product }} <br/>
  <br/>
</p>
